<div class='dialog-wrapper'>
  <mat-dialog-content>
    <form [formGroup]="formGroup" class='formGroup-wrapper'>
      <!-- Topic Input -->
      <mat-form-field>
        <input matInput [(ngModel)]="src.topic" [formControlName]="staticScope.CONTROL_KEY_TOPIC" placeholder="Topic">
        <mat-error *ngIf="formGroup.get(staticScope.CONTROL_KEY_TOPIC).invalid">
          <p> Error: Please write correct data </p>
        </mat-error>
      </mat-form-field>
      <!-- Date Input -->
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [(ngModel)]="src.date" [formControlName]="staticScope.CONTROL_KEY_DATE" placeholder="dd.mm.yyyy"
          (keyup)='dateValidator()' maxlength='10'>
        <mat-error *ngIf="formGroup.get(staticScope.CONTROL_KEY_DATE).invalid">
          <p>Please write correct date in format 'dd.mm.yyyy'</p>
        </mat-error>
      </mat-form-field>
      <!-- Lecturer Input -->
      <mat-form-field>
        <input matInput [(ngModel)]="src.lecturer" [formControlName]="staticScope.CONTROL_KEY_LECTURER"
          placeholder="Lecturer">
        <mat-error *ngIf="formGroup.get(staticScope.CONTROL_KEY_LECTURER).invalid">
          <p>Please write correct at least 3 character </p>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class='actions-wrapper'>
    <button mat-button mat-dialog-close>Cancel</button>
    <button class='modal-button' mat-button [mat-dialog-close]="true" cdkFocusInitial (click)='addToList()'>Add to
      list</button>
  </mat-dialog-actions>
</div>