.formGroup-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

.dialog-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions-wrapper{
    display: flex;
    justify-content: center;
}

  