<button mat-button (click)="openDialog()">Add new lesson</button>
<h2 class="mat-h2" class='wrapper-tittle'>You haven`t added anything yet</h2>

<div *ngIf='try'>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.id}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="topic">
      <mat-header-cell *matHeaderCellDef> topic </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf='logic'>
          {{element.topic}}
        </div>
        <mat-form-field *ngIf='toggle' floatLabel="never">
          <input matInput placeholder="topic" [value]="element.topic" [(ngModel)]="element.topic">
        </mat-form-field>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> date </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf='logic'>
          {{element.date}}
        </div>
        <mat-form-field *ngIf='toggle' floatLabel="never">
          <input matInput placeholder="date" [value]="element.date" [(ngModel)]="element.date">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lecturer">
      <mat-header-cell *matHeaderCellDef> lecturer </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf='logic'>
          {{element.lecturer}}
        </div>
        <mat-form-field *ngIf='toggle' floatLabel="never">
          <input matInput placeholder="lecturer" [value]="element.lecturer" [(ngModel)]="element.lecturer">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row" class='buttons-wrapper'>
        <button mat-stroked-button (click)='editRow()' *ngIf="editableInput">Save</button>
        <button mat-stroked-button (click)='editRow()' *ngIf="!editableInput">Edit</button>
        <button mat-stroked-button (click)='deleteRow()'>Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>